/*set default*/
* {
    box-sizing: border-box;
    font-family: Papyrus, serif;
}

/*** Element selector ****/
body{
    background-color: lightgoldenrodyellow;
}

header{
    background-color: #8FD14F;
    width: 100%;
    z-index: 5;
    margin: 0;
    display: inline-block;
}

main{
    position: relative;
    top: 100px;
}

div.container {
    display: flex;
    align-items: baseline;
}

h1 {
    color: darkgreen;
    font-size: 48px;
    width: 50%;
    font-weight: bold;
    display: inline-block;
    margin: 0 20px;
}

nav {
    right: 10%;
}
nav li{
    display: inline-block;
    width: 100px;
    color: darkgreen;
    font-size: 20px;
}

nav li:hover{
    color: gold;
}

h3 {
    margin: 10px;
    display: inline-block;
}

h3:visited {
    font-style: initial;
}

a {
    color: inherit;
}

footer{
    background-color: #8FD14F;
    height: 100px;
}

section{
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

img{
    background-color: transparent;
}

textarea{
    color: gray;
}

table{
    padding: 10px;
    color: darkgreen;
}
td{
    color: darkgreen;
    padding: 15px;
}

thead {
    color: black;
}

select{
    color: darkblue;
}

iframe{
    right: 10%;
    width: 500px;
    height: 300px;
    border: 2px solid darkgreen;
    border-radius: 10px;
}

/*** Class selector ****/
.green_button {
    border-radius: 5px;
    border:white;
    background-color: #8FD14F;
    color: white;
    padding: 10px 20px;
    font-size: large;
    margin: 10px 10px 10px 0;
}

.green_button:hover {
    background-color: green;
}

.slogan{
    color: olivedrab;
}

.box{
    display: inline-block;
    width: 45%;
    padding-bottom: 20px;
    margin: 10px auto;
    align-items: center;
}

.profile:hover {
    color: darkgoldenrod;
    font-weight: bold;
}

.pic_round{
    width: 200px;
    height: 200px;
    aspect-ratio: initial;
    border-radius: 100%;
}

.journey{
    text-align: center;
    color:olivedrab;
    font-weight: bolder;
    background-color: #8FD14F;
    width: 100%;
}

.footer_img{
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
    padding: 10px;
    height: 90px;
}

/*** ID selector ****/
#totoro{
    width:auto;
    height: 300px;
}

#brand {
    width: 100px;
}
