/*set default*/
* {
    margin: 0;
    padding: 0;
}

/*** Element selector ****/
h1 {
    color: #8FD14F;
    font-family: sans-serif, Tahoma, Verdana;
    font-style: italic;

}

/*** Class selctor ****/
.green_button {
    border-radius: 5%;
    border:white;
    background-color: #8FD14F;
    color: white;
    font-size: large;
}

/*** ID selctor ****/
#signIn {
    border-style: none;
    background-color: white;
    font-size: large;
}
#totoro {
    border-radius: 100%;
    background-color: #8FD14F;
}